

<html>
    <head><meta charset="utf-8">
    <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    </head>
    <body>
    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Shop</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'categories' %}">Strona główna</a></li>
      <li><a href="{% url 'product-search' %}">Wyszukaj produkt</a></li>
      <li><a href="{% url 'add-product' %}">Wystaw produkt</a></li>
      <li><a href="{% url 'all-orders' %}">Twój koszyk</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    
    {% if user.is_authenticated %}
    	<li><a href="{% url 'logout' %}">Zalogowany użytkownik:{{user}}<span class="glyphicon glyphicon-user"></span> Wyloguj</a></li>
    {% else %}
      <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Zarejestruj</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
    {% endif %}
    </ul>
  </div>
</nav>
    
    
        {% block content %}
           
        {% endblock %}
     
        <br>
        <br>
         {{current_datetime}}
        
    </body>
</html>
